/* widen main article, to make more room for tables with code in them */
.docs-core-sidebar-expanded .docs-template-topics-container {
    width: 20%;
}
.docs-core-sidebar-expanded .docs-template-articleBody {
    width: 80%;
}
